.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

// =========FORM
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 10px;
    height: 100%;
    gap: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px / 30px;
}

.input {
    width: 350px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
}

input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

input:hover {
    outline: 1px solid lightgrey;
}


// === BUTTON form
.button {
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0.8em 2em;
    background: #000;
    transition: 0.2s;
}

.button:hover {
    color: #000;
    transform: translate(-0.25rem, -0.25rem);
    background: #fff;
    border: 1px solid #000;
    box-shadow: 0.25rem 0.25rem #fff;
}

.button:active {
    transform: translate(0);
    box-shadow: none;
}


// ========= CARDS
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 50px 0;
}

// == FLIP CARD

.flip-card:hover .btnDelete {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.flip-card {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    width: 600px;
    height: 400px;
    perspective: 1000px;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #000;
    border-radius: 10px / 30px;
}

.flip-card-front {
    background-color: #000;
}

.flip-card-back {
    background-color: #005392;
    transform: rotateY(180deg);
}

// =====
.front,
.back {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

// ====BTN CARD
.btnDelete {
    width: 32px;
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px / 30px;
    padding: 10px;
    transition: 0.2s ease-in-out;
    background: #000;

}

.btnDelete:hover {
    color: #000;
    transform: translate(-0.25rem, -0.25rem);
    background: #8a2f2f;
}

.btnDelete:active {
    transform: translate(0);
    box-shadow: none;
}



// === BUTTONS PREV AND NEXT
.btnDiv {
    display: flex;
    gap: 10px;
}

.btnCard {
    width: 100%;
    right: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px / 30px;
    padding: 10px;
    transition: 0.2s ease-in-out;
    background: #000;
}

.btnCard:hover {
    color: #000;
    transform: translate(-0.25rem, -0.25rem);
    background: #fff;
    box-shadow: 0.25rem 0.25rem #000;
}

.btnCard:active {
    transform: translate(0);
    box-shadow: none;
}

@media screen and (max-width: 600px) {
    .form {
        width: 90%;
    }

    .flip-card {
        width: 90vw;
    }

    .input {
        width: 250px;
    }
}